
<form [formGroup]="ionicForm" (ngSubmit)="add()">
  <ion-item>
    <ion-input
      type="text"
      minlenght="2"
      maxlength="15"
      [counter]="true"
      [clearInput]="true"
      label="Nombre del Heroe:"
      labelPlacement="floating"
      formControlName="nameHero"
      value="{{ heroCardName }}"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      type="text"
      minlenght="3"
      maxlength="15"
      [counter]="true"
      [clearInput]="true"
      label="Nombre del Poder:"
      labelPlacement="floating"
      formControlName="namePower"
      value="{{ heroCardNamePower }}"
    ></ion-input>
  </ion-item>
  <div>
    <ion-range
      aria-label="Range with knob events"
      (ionKnobMoveEnd)="onIonKnobMoveEnd($event)"
      formControlName="powerLevel"
      [max]="500"
      [pin]="true"
      value="{{ heroCardPowerLevel }}"
    ></ion-range>
  </div>

  <div class="container-btn">
    <ion-button color="success" type="submit" *ngIf="!selector"
      >Añadir</ion-button
    >
    <ion-button
      type="button"
      color="success"
      *ngIf="selector"
      (click)="modify()"
      >Modificar</ion-button
    >
    <ion-button color="danger" *ngIf="selector" (click)="cancelModify()"
      >Cancelar Modificacion</ion-button
    >
  </div>
</form>
